In [ ]:
#-----------------------Zadanie 1--------------------------

In [ ]:
import pandas as pd

people = [['Ewa','Kowalska','Warszawa'],["Michał", "Malinowski","Kraków"],["Krzysiek","Kowalski","Gdańsk"],["Kasia","Nowak","Poznań"],["Łucja","Kowalska","Łódź"]]
df_people = pd.DataFrame(people)
df_people.columns = 'Imie', 'Nazwisko', 'Miasto'
df_people

       Imie    Nazwisko    Miasto
0       Ewa    Kowalska  Warszawa
1    Michał  Malinowski    Kraków
2  Krzysiek    Kowalski    Gdańsk
3     Kasia       Nowak    Poznań
4     Łucja    Kowalska      Łódź

In [ ]:
df_people['Rok urodzenia'] = [1996,1977,2004,2003,1969]
df_people['Zawód'] = ['Pisarka', "Informatyk", "Spawacz", "Kasjerka", 'Księgowa']
df_people['Adres'] = ['ul. Miła', "ul. Długa", "ul. Krótka", "ul. Akacjowa", 'ul. Bzów']
df_people

       Imie    Nazwisko    Miasto  Rok urodzenia       Zawód         Adres
0       Ewa    Kowalska  Warszawa           1996     Pisarka      ul. Miła
1    Michał  Malinowski    Kraków           1977  Informatyk     ul. Długa
2  Krzysiek    Kowalski    Gdańsk           2004     Spawacz    ul. Krótka
3     Kasia       Nowak    Poznań           2003    Kasjerka  ul. Akacjowa
4     Łucja    Kowalska      Łódź           1969    Księgowa      ul. Bzów

Na potrzeby wygenerowania listy 20 osób został stworzony prosty generator losowych danych

In [ ]:
from random import randrange
new_people = []
names = ['Agnieszka', 'Basia','Piotrek', 'Zbigniew', "Marcin", 'Adam', 'Weronika']
surnames = ['Wojska', 'Czerniewski','Wojtyła', 'Piela', "Jop", 'Boniek']
cities = ["Bytom", "Sosnowiec", "Gliwice", "Sopot", "Poznań"]
proffesions = ['Malarz', 'Pracownik fizyczny', 'Programista', 'Kierowca']
streets = ['ul. Biała', 'ul. Czarna', 'ul. Beżowa', 'ul. Niebieska']
for x in range(0,20):
 new_people.append([names[randrange(0,len(names))],surnames[randrange(0,len(surnames))],cities[randrange(0,len(cities))],randrange(1960,1996),proffesions[randrange(0,len(proffesions))],streets[randrange(0,len(streets))]])

df = pd.DataFrame(new_people)
df.columns = 'Imie', 'Nazwisko', 'Miasto', "Rok urodzenia", "Zawód", "Adres"
df

         Imie     Nazwisko  ...               Zawód          Adres
0       Basia       Wojska  ...         Programista      ul. Biała
1      Marcin      Wojtyła  ...  Pracownik fizyczny     ul. Czarna
2    Weronika  Czerniewski  ...            Kierowca  ul. Niebieska
3    Weronika  Czerniewski  ...              Malarz      ul. Biała
4    Zbigniew       Boniek  ...         Programista      ul. Biała
5      Marcin       Wojska  ...         Programista      ul. Biała
6        Adam       Boniek  ...              Malarz      ul. Biała
7     Piotrek        Piela  ...            Kierowca      ul. Biała
8       Basia          Jop  ...              Malarz     ul. Czarna
9     Piotrek      Wojtyła  ...            Kierowca  ul. Niebieska
10      Basia       Wojska  ...            Kierowca     ul. Beżowa
11   Weronika      Wojtyła  ...            Kierowca     ul. Beżowa
12      Basia      Wojtyła  ...            Kierowca  ul. Niebieska
13       Adam        Piela  ...            Kierowca     ul. Czarna
14  Agnieszka       Boniek  ...  Pracownik fizyczny      ul. Biała
15     Marcin          Jop  ...              Malarz  ul. Niebieska
16       Adam       Wojska  ...              Malarz     ul. Beżowa
17     Marcin          Jop  ...              Malarz     ul. Czarna
18    Piotrek          Jop  ...            Kierowca  ul. Niebieska
19   Weronika       Wojska  ...  Pracownik fizyczny      ul. Biała

[20 rows x 6 columns]

In [ ]:
df.to_csv("people.csv")

In [ ]:
df= pd.read_csv("people.csv")
df

    Unnamed: 0       Imie  ...               Zawód          Adres
0            0      Basia  ...         Programista      ul. Biała
1            1     Marcin  ...  Pracownik fizyczny     ul. Czarna
2            2   Weronika  ...            Kierowca  ul. Niebieska
3            3   Weronika  ...              Malarz      ul. Biała
4            4   Zbigniew  ...         Programista      ul. Biała
5            5     Marcin  ...         Programista      ul. Biała
6            6       Adam  ...              Malarz      ul. Biała
7            7    Piotrek  ...            Kierowca      ul. Biała
8            8      Basia  ...              Malarz     ul. Czarna
9            9    Piotrek  ...            Kierowca  ul. Niebieska
10          10      Basia  ...            Kierowca     ul. Beżowa
11          11   Weronika  ...            Kierowca     ul. Beżowa
12          12      Basia  ...            Kierowca  ul. Niebieska
13          13       Adam  ...            Kierowca     ul. Czarna
14          14  Agnieszka  ...  Pracownik fizyczny      ul. Biała
15          15     Marcin  ...              Malarz  ul. Niebieska
16          16       Adam  ...              Malarz     ul. Beżowa
17          17     Marcin  ...              Malarz     ul. Czarna
18          18    Piotrek  ...            Kierowca  ul. Niebieska
19          19   Weronika  ...  Pracownik fizyczny      ul. Biała

[20 rows x 7 columns]

In [ ]:
df[['Imie', 'Nazwisko', 'Rok urodzenia']]

         Imie     Nazwisko  Rok urodzenia
0       Basia       Wojska           1967
1      Marcin      Wojtyła           1984
2    Weronika  Czerniewski           1986
3    Weronika  Czerniewski           1963
4    Zbigniew       Boniek           1975
5      Marcin       Wojska           1993
6        Adam       Boniek           1980
7     Piotrek        Piela           1975
8       Basia          Jop           1970
9     Piotrek      Wojtyła           1962
10      Basia       Wojska           1977
11   Weronika      Wojtyła           1978
12      Basia      Wojtyła           1961
13       Adam        Piela           1960
14  Agnieszka       Boniek           1966
15     Marcin          Jop           1967
16       Adam       Wojska           1977
17     Marcin          Jop           1966
18    Piotrek          Jop           1992
19   Weronika       Wojska           1978

In [ ]:
df.iloc[0:5]

   Unnamed: 0      Imie  ...               Zawód          Adres
0           0     Basia  ...         Programista      ul. Biała
1           1    Marcin  ...  Pracownik fizyczny     ul. Czarna
2           2  Weronika  ...            Kierowca  ul. Niebieska
3           3  Weronika  ...              Malarz      ul. Biała
4           4  Zbigniew  ...         Programista      ul. Biała

[5 rows x 7 columns]

In [ ]:
df.iloc[5:10]

   Unnamed: 0     Imie Nazwisko  ... Rok urodzenia        Zawód          Adres
5           5   Marcin   Wojska  ...          1993  Programista      ul. Biała
6           6     Adam   Boniek  ...          1980       Malarz      ul. Biała
7           7  Piotrek    Piela  ...          1975     Kierowca      ul. Biała
8           8    Basia      Jop  ...          1970       Malarz     ul. Czarna
9           9  Piotrek  Wojtyła  ...          1962     Kierowca  ul. Niebieska

[5 rows x 7 columns]

In [ ]:
df.iloc[::5, :]

    Unnamed: 0    Imie Nazwisko  ... Rok urodzenia        Zawód          Adres
0            0   Basia   Wojska  ...          1967  Programista      ul. Biała
5            5  Marcin   Wojska  ...          1993  Programista      ul. Biała
10          10   Basia   Wojska  ...          1977     Kierowca     ul. Beżowa
15          15  Marcin      Jop  ...          1967       Malarz  ul. Niebieska

[4 rows x 7 columns]

In [ ]:
#-----------------------Zadanie 2--------------------------

In [ ]:
df = df.rename(columns = {'Imie': 'Name', 'Rok urodzenia': 'Dob'}, inplace = False)
df

    Unnamed: 0       Name     Nazwisko  ...   Dob               Zawód          Adres
0            0      Basia       Wojska  ...  1967         Programista      ul. Biała
1            1     Marcin      Wojtyła  ...  1984  Pracownik fizyczny     ul. Czarna
2            2   Weronika  Czerniewski  ...  1986            Kierowca  ul. Niebieska
3            3   Weronika  Czerniewski  ...  1963              Malarz      ul. Biała
4            4   Zbigniew       Boniek  ...  1975         Programista      ul. Biała
5            5     Marcin       Wojska  ...  1993         Programista      ul. Biała
6            6       Adam       Boniek  ...  1980              Malarz      ul. Biała
7            7    Piotrek        Piela  ...  1975            Kierowca      ul. Biała
8            8      Basia          Jop  ...  1970              Malarz     ul. Czarna
9            9    Piotrek      Wojtyła  ...  1962            Kierowca  ul. Niebieska
10          10      Basia       Wojska  ...  1977            Kierowca     ul. Beżowa
11          11   Weronika      Wojtyła  ...  1978            Kierowca     ul. Beżowa
12          12      Basia      Wojtyła  ...  1961            Kierowca  ul. Niebieska
13          13       Adam        Piela  ...  1960            Kierowca     ul. Czarna
14          14  Agnieszka       Boniek  ...  1966  Pracownik fizyczny      ul. Biała
15          15     Marcin          Jop  ...  1967              Malarz  ul. Niebieska
16          16       Adam       Wojska  ...  1977              Malarz     ul. Beżowa
17          17     Marcin          Jop  ...  1966              Malarz     ul. Czarna
18          18    Piotrek          Jop  ...  1992            Kierowca  ul. Niebieska
19          19   Weronika       Wojska  ...  1978  Pracownik fizyczny      ul. Biała

[20 rows x 7 columns]

In [ ]:
for index, row in df.iterrows():
  if row['Miasto'] == "Poznań":
    print(df.iloc[index])

Unnamed: 0              4
Name             Zbigniew
Nazwisko           Boniek
Miasto             Poznań
Dob                  1975
Zawód         Programista
Adres           ul. Biała
Name: 4, dtype: object
Unnamed: 0            7
Name            Piotrek
Nazwisko          Piela
Miasto           Poznań
Dob                1975
Zawód          Kierowca
Adres         ul. Biała
Name: 7, dtype: object
Unnamed: 0            16
Name                Adam
Nazwisko          Wojska
Miasto            Poznań
Dob                 1977
Zawód             Malarz
Adres         ul. Beżowa
Name: 16, dtype: object

In [ ]:
for index, row in df.iterrows():
    print(row['Name'], row['Nazwisko'])

Basia Wojska
Marcin Wojtyła
Weronika Czerniewski
Weronika Czerniewski
Zbigniew Boniek
Marcin Wojska
Adam Boniek
Piotrek Piela
Basia Jop
Piotrek Wojtyła
Basia Wojska
Weronika Wojtyła
Basia Wojtyła
Adam Piela
Agnieszka Boniek
Marcin Jop
Adam Wojska
Marcin Jop
Piotrek Jop
Weronika Wojska

In [ ]:
df[['Name', 'Miasto']].iloc[::2, :]

         Name     Miasto
0       Basia  Sosnowiec
2    Weronika      Sopot
4    Zbigniew     Poznań
6        Adam    Gliwice
8       Basia  Sosnowiec
10      Basia      Sopot
12      Basia      Sopot
14  Agnieszka      Sopot
16       Adam     Poznań
18    Piotrek      Sopot

In [ ]:
for index, row in df.iterrows():
  if row['Name'].startswith('A'):
    print(df.iloc[index])

Unnamed: 0            6
Name               Adam
Nazwisko         Boniek
Miasto          Gliwice
Dob                1980
Zawód            Malarz
Adres         ul. Biała
Name: 6, dtype: object
Unnamed: 0            13
Name                Adam
Nazwisko           Piela
Miasto         Sosnowiec
Dob                 1960
Zawód           Kierowca
Adres         ul. Czarna
Name: 13, dtype: object
Unnamed: 0                    14
Name                   Agnieszka
Nazwisko                  Boniek
Miasto                     Sopot
Dob                         1966
Zawód         Pracownik fizyczny
Adres                  ul. Biała
Name: 14, dtype: object
Unnamed: 0            16
Name                Adam
Nazwisko          Wojska
Miasto            Poznań
Dob                 1977
Zawód             Malarz
Adres         ul. Beżowa
Name: 16, dtype: object

In [ ]:
for index, row in df.iterrows():
  if row['Nazwisko'] > 'Kowalski':
    print(df.iloc[index])

Unnamed: 0              0
Name                Basia
Nazwisko           Wojska
Miasto          Sosnowiec
Dob                  1967
Zawód         Programista
Adres           ul. Biała
Name: 0, dtype: object
Unnamed: 0                     1
Name                      Marcin
Nazwisko                 Wojtyła
Miasto                     Bytom
Dob                         1984
Zawód         Pracownik fizyczny
Adres                 ul. Czarna
Name: 1, dtype: object
Unnamed: 0              5
Name               Marcin
Nazwisko           Wojska
Miasto          Sosnowiec
Dob                  1993
Zawód         Programista
Adres           ul. Biała
Name: 5, dtype: object
Unnamed: 0            7
Name            Piotrek
Nazwisko          Piela
Miasto           Poznań
Dob                1975
Zawód          Kierowca
Adres         ul. Biała
Name: 7, dtype: object
Unnamed: 0                9
Name                Piotrek
Nazwisko            Wojtyła
Miasto            Sosnowiec
Dob                    1962
Zawód              Kierowca
Adres         ul. Niebieska
Name: 9, dtype: object
Unnamed: 0            10
Name               Basia
Nazwisko          Wojska
Miasto             Sopot
Dob                 1977
Zawód           Kierowca
Adres         ul. Beżowa
Name: 10, dtype: object
Unnamed: 0            11
Name            Weronika
Nazwisko         Wojtyła
Miasto         Sosnowiec
Dob                 1978
Zawód           Kierowca
Adres         ul. Beżowa
Name: 11, dtype: object
Unnamed: 0               12
Name                  Basia
Nazwisko            Wojtyła
Miasto                Sopot
Dob                    1961
Zawód              Kierowca
Adres         ul. Niebieska
Name: 12, dtype: object
Unnamed: 0            13
Name                Adam
Nazwisko           Piela
Miasto         Sosnowiec
Dob                 1960
Zawód           Kierowca
Adres         ul. Czarna
Name: 13, dtype: object
Unnamed: 0            16
Name                Adam
Nazwisko          Wojska
Miasto            Poznań
Dob                 1977
Zawód             Malarz
Adres         ul. Beżowa
Name: 16, dtype: object
Unnamed: 0                    19
Name                    Weronika
Nazwisko                  Wojska
Miasto                 Sosnowiec
Dob                         1978
Zawód         Pracownik fizyczny
Adres                  ul. Biała
Name: 19, dtype: object

In [ ]:
for index, row in df.iterrows():
  if row['Dob'] < 1989:
    print(df.iloc[index])

Unnamed: 0              0
Name                Basia
Nazwisko           Wojska
Miasto          Sosnowiec
Dob                  1967
Zawód         Programista
Adres           ul. Biała
Name: 0, dtype: object
Unnamed: 0                     1
Name                      Marcin
Nazwisko                 Wojtyła
Miasto                     Bytom
Dob                         1984
Zawód         Pracownik fizyczny
Adres                 ul. Czarna
Name: 1, dtype: object
Unnamed: 0                2
Name               Weronika
Nazwisko        Czerniewski
Miasto                Sopot
Dob                    1986
Zawód              Kierowca
Adres         ul. Niebieska
Name: 2, dtype: object
Unnamed: 0              3
Name             Weronika
Nazwisko      Czerniewski
Miasto          Sosnowiec
Dob                  1963
Zawód              Malarz
Adres           ul. Biała
Name: 3, dtype: object
Unnamed: 0              4
Name             Zbigniew
Nazwisko           Boniek
Miasto             Poznań
Dob                  1975
Zawód         Programista
Adres           ul. Biała
Name: 4, dtype: object
Unnamed: 0            6
Name               Adam
Nazwisko         Boniek
Miasto          Gliwice
Dob                1980
Zawód            Malarz
Adres         ul. Biała
Name: 6, dtype: object
Unnamed: 0            7
Name            Piotrek
Nazwisko          Piela
Miasto           Poznań
Dob                1975
Zawód          Kierowca
Adres         ul. Biała
Name: 7, dtype: object
Unnamed: 0             8
Name               Basia
Nazwisko             Jop
Miasto         Sosnowiec
Dob                 1970
Zawód             Malarz
Adres         ul. Czarna
Name: 8, dtype: object
Unnamed: 0                9
Name                Piotrek
Nazwisko            Wojtyła
Miasto            Sosnowiec
Dob                    1962
Zawód              Kierowca
Adres         ul. Niebieska
Name: 9, dtype: object
Unnamed: 0            10
Name               Basia
Nazwisko          Wojska
Miasto             Sopot
Dob                 1977
Zawód           Kierowca
Adres         ul. Beżowa
Name: 10, dtype: object
Unnamed: 0            11
Name            Weronika
Nazwisko         Wojtyła
Miasto         Sosnowiec
Dob                 1978
Zawód           Kierowca
Adres         ul. Beżowa
Name: 11, dtype: object
Unnamed: 0               12
Name                  Basia
Nazwisko            Wojtyła
Miasto                Sopot
Dob                    1961
Zawód              Kierowca
Adres         ul. Niebieska
Name: 12, dtype: object
Unnamed: 0            13
Name                Adam
Nazwisko           Piela
Miasto         Sosnowiec
Dob                 1960
Zawód           Kierowca
Adres         ul. Czarna
Name: 13, dtype: object
Unnamed: 0                    14
Name                   Agnieszka
Nazwisko                  Boniek
Miasto                     Sopot
Dob                         1966
Zawód         Pracownik fizyczny
Adres                  ul. Biała
Name: 14, dtype: object
Unnamed: 0               15
Name                 Marcin
Nazwisko                Jop
Miasto            Sosnowiec
Dob                    1967
Zawód                Malarz
Adres         ul. Niebieska
Name: 15, dtype: object
Unnamed: 0            16
Name                Adam
Nazwisko          Wojska
Miasto            Poznań
Dob                 1977
Zawód             Malarz
Adres         ul. Beżowa
Name: 16, dtype: object
Unnamed: 0            17
Name              Marcin
Nazwisko             Jop
Miasto           Gliwice
Dob                 1966
Zawód             Malarz
Adres         ul. Czarna
Name: 17, dtype: object
Unnamed: 0                    19
Name                    Weronika
Nazwisko                  Wojska
Miasto                 Sosnowiec
Dob                         1978
Zawód         Pracownik fizyczny
Adres                  ul. Biała
Name: 19, dtype: object